.navbar li {
    display: inline-block;
    color: #FFFF26;
}

.navbar ul {
    margin:.7em;
    width: 100%;
    text-transform: uppercase;
    font-family: 'Bowlby One SC', cursive;
}

.itemLeft {
    width: 50%;
}

.navbar li.itemCenter {
    width: 20%;
    color: #60EAE3;
}

.navbar li.itemRight {
    width:30%;
    color: #60EAE3;
}


.navbar {
    height: auto;
    background: #1C2326;
}
body {
    font-size: 24px;
    background-color: #FFFF26;
    letter-spacing: .5px;
}